#main {
    background-color: #EEEEEE;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;

}

#title {
    font-size: 2rem;
    padding: 30px;
}

#img-div {
    background:white;
    padding: 10px;
    margin: 0;
}
#image {
    max-width: 100%;
    height: auto;
}

p, ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
  
li {
    margin: 16px 0;
  }
  